{% extends "base.html" %}
{% load socialaccount %}
{% providers_media_js %}


{% block content %}
<div class="head">
    <br><br><br>
    <p>LEADERBOARD</p>
</div>

<div class="lwrap">
{% for obj in users %}
{% if obj.email == nam %}
<div class="lbbox" style="background-color:rgba(82, 186, 235, 0.4); border-left: 4px solid rgb(0, 162, 255);">

    <p> {{ obj.rank  }}. {{ obj.name }} <span style="color:rgb(188, 213, 252); float:right;">{{obj.score}}</span>

    </p>
</div>
{% elif obj.rank < 4 %}
<div class="lbbox" style="border-left: 4px solid green;">

    <p> {{ obj.rank  }}. {{ obj.name }} <span style="color:rgb(188, 213, 252); float:right;">{{obj.score}}</span>

    </p>
</div>
{% else %}

<div class="lbbox">

    <p> {{ obj.rank  }}. {{ obj.name }} <span style="color:rgb(188, 213, 252); float:right;">{{obj.score}}</span>

    </p>
</div>
{% endif %}
{% endfor %}
</div>
{%endblock%}